<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about">Sobre mim</a></li>
                <li><a href="{{ site.baseurl }}/projects">Projetos</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ site.author.name }}</p>
    </footer>
</body>
</html>
